:root {
   --primary-color: #302AE6;
   --secondary-color: #536390;
   --font-color: #424242;
   --bg-color: #fff;
   --heading-color: #292922;
}

[data-theme="dark"] {
   --primary-color: #9A97F3;
   --secondary-color: #818cab;
   --font-color: #e1e1ff;
   --bg-color: #161625;
   --heading-color: #818cab;
}

body{
   background-color: var(--bg-color);
   color: var(--font-color);
}

.tooltip {
   position: relative;
   display: inline-block;
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: 140px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: 50%;
   margin-left: -75px;
   opacity: 0;
   transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}


.anyClass {
   height: 100vh;
   overflow-y: scroll;
   position: fixed;
   z-index: 5;
   padding-bottom: 40vh;
   margin-top: 5vh;
}

.desc {
   padding-bottom: 30% !important;
   padding-left: 2rem;
   padding-right: 2rem;
   display: none;
   padding-top: 2rem;
   right: 0px;
   left: 0px;
}

.download {
   padding-left: 2rem;
   padding-right: 2rem;
   display: none;
   padding-top: 2rem;
}

.down-button {
   margin-right: 20px;
}

.container-download {
   padding-left: 2vh;
   padding-right: 2vh;

}

.card2 {
   color: var(--font-color);
   background-color: var(--bg-color);
   margin-bottom: 20px;
}

/* html {
 position: relative;
 min-height: 100%;
 } */
/* body {
 margin-bottom: 60px;
 }  */
.footer {
   color: var(--font-color);
   background-color: var(--bg-color);
   margin-bottom: 0px;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
   line-height: 60px;
   /* Vertically center the text there */
   /* background-color: #f5f5f5; */
   z-index: 10;

}

::-webkit-scrollbar {
   display: none;
}

#back_btn{
   display: none;
}

@media only screen and (max-width: 575px){
   #footer_my_text {
      display: none;
   }
}



 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #2196F3;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }